
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.ErrorMessage
<a asp-controller="Home" asp-action="Index" class="btn" style="width:auto">
    Click here to go to HomePage
</a>